<span ng-show="forms.length == 0">{{locales.string('.no-form-definitions')}}</span>
<div ng-controller="TabsCtrl">
	<div class="tabbable tabs-left" ng-model="currentTab">
		<div class="tab-pane" ng-repeat="formInfo in forms" title="{{formInfo.label}}" value="{{formInfo.id}}">
			<form class="form-horizontal" ng-controller="XsdCtrl">
				<fieldset>
					<legend>{{form.rootElement.label}}</legend>

					<fz-field label="{{form.rootElement.label}}" placeholder="{{form.rootElement.placeholder}}" ng-model="form.rootElement.value" documentation="{{form.rootElement.documentation}}"></fz-field>
					
				</fieldset>
				<fieldset>
					<legend>Debug Info</legend>

					<div class="control-group">
						<label class="control-label">{{locales.string('.label-show')}}:</label>
						<div class="controls">
							<label class="checkbox inline">
								<input type="checkbox" ng-model="showXml">XML</label>
							<label class="checkbox inline">
								<input type="checkbox" ng-model="showJson">JSON</label>
						</div>
					</div>
					<div class="control-group" id="controlGroupXml" ng-show="showXml">
						<label class="control-label">XML:</label>
						<div class="controls">
							<textarea id="xml" rows="10">{{form | asXml}}</textarea>
						</div>
					</div>

					<div class="control-group" id="controlGroupJson" ng-show="showJson">
						<label class="control-label">JSON:</label>
						<div class="controls">
							<textarea rows="10">{{form | json}}</textarea>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
	</div>
</div>