<span ng-show="forms.length == 0">{{locales.string('.no-form-definitions')}}</span>
<div ng-controller="TabsCtrl">
	<div class="tabbable tabs-left" ng-model="currentTab">
		<div class="tab-pane" ng-repeat="formInfo in forms" title="{{formInfo.label}}" value="{{formInfo.id}}">
			<form class="form-horizontal" name="modelForm" ng-controller="XsdCtrl">

				<fz-fieldset data="form.rootElement" form="modelForm"></fz-fieldset>

				<button ng-click="save(form)"
                ng-disabled="modelForm.$invalid">Save</button>

				<fieldset>
					<legend>Debug Info</legend>

					<div class="control-group">
						<label class="control-label">{{locales.string('.label-show')}}:</label>
						<div class="controls">
							<label class="checkbox inline">
								<input type="checkbox" ng-model="showXml">XML</label>
							<label class="checkbox inline">
								<input type="checkbox" ng-model="showDebug">Debug</label>
						</div>
					</div>

					<div class="control-group" id="controlGroupXml" ng-show="showXml">
						<label class="control-label">XML:</label>
						<div class="controls">
							<textarea id="xml" rows="10">{{form | asXml}}</textarea>
						</div>
					</div>

					<div ng-show="showDebug" id="controlGroupDebug">

						<div class="control-group"  >
							<label class="control-label">modelForm.$valid:</label>

							<div class="controls">
								<input type="text" ng-model="modelForm.$valid" readonly></input>
								<br></div>
						</div>

						<div class="control-group"  >
							<label class="control-label">JSON:</label>
							<div class="controls">
								<textarea rows="10">{{form | json}}</textarea>
							</div>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
	</div>
</div>