<fieldset>
	<legend>{{model.label}}</legend>

	<div ng-switch on="model.children.length">
		<fz-field ng-switch-when="0" label="{{model.label}}" placeholder="{{model.placeholder}}" ng-model="model.value" documentation="{{model.documentation}}" name="{{model.name}}"></fz-field>

		<div ng-switch-default> <!--div only existe becausa ng-switch-default does not interact very well with ng-repeat -->
			<fz-field ng-repeat="field in model.children" label="{{field.label}}" placeholder="{{field.placeholder}}" ng-model="field.value" documentation="{{field.documentation}}" name="{{field.name}}"></fz-field>
		</div>

	</div>
</fieldset>